In [1]:
import MySQLdb

In [6]:
db = MySQLdb.connect(
    "localhost",
    "root",
    "1234" #database name
)
db

In [7]:
#쿼리 작성
query = """
CREATE DATABASE test;
""";

In [8]:
#쿼리 실행
curs = db.cursor()
curs.execute(query)

ProgrammingError: (1007, "Can't create database 'test'; database exists")

In [5]:
#결과 출력
rows = curs.fetchall()
rows

()

In [6]:
#데이터 프레임으로 가져오기
import pandas as pd
query="""
    select *
    from country
"""

In [10]:
df =pd.read_sql(query, db)
df.tail(2)

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
237,ZMB,Zambia,Africa,Eastern Africa,752618.0,1964.0,9169000,37.2,3377.0,3922.0,Zambia,Republic,Frederick Chiluba,3162.0,ZM
238,ZWE,Zimbabwe,Africa,Eastern Africa,390757.0,1980.0,11669000,37.8,5951.0,8670.0,Zimbabwe,Republic,Robert G. Mugabe,4068.0,ZW