In [13]:
from sqlalchemy import *
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [14]:
engine = create_engine("mysql://root:1234@192.168.2.2/test")

In [15]:
engine

Engine(mysql://root:***@192.168.2.2/test)

In [16]:
#테이블 객체 생성을 위한 클래스 작성
base = declarative_base()
class user(base):
    __tablename__="user"# 테이블 이름 
    
    # 컬럼데이터 
    user_id = Column(Integer, primary_key = True)
    name =Column(String(20))
    email = Column(String(30))
    age = Column(Integer)
    rdate = Column(DateTime)
    
    #생성자 함수
    def __init__(self, name,email,age,rdate):
        self.name = name
        self.email = email
        self.age = age
        self.rdate = rdate
    #repr 함수
    def __repr__(self):
        return "<User {},{},{},{}>".format(self.name,self.email,self.age,self.rdate)

In [17]:
#engine에 연결된 데이터 베이스 test에  user 테이블 생성
base.metadata.create_all(engine)

In [18]:
#데이터 베이스에 세션 연결
Session = sessionmaker(engine)
session = Session()
session

### insert

In [19]:
User = user("jin","jin@gmail.com",27,"2016-02-21")
User

In [20]:
session.add(User)

In [21]:
#run transaction
session.commit()

In [22]:
Users = [
    user("alice", "alice@gmail.com",25,"2018-02-21")
]

In [23]:
session.add_all(Users)

In [24]:
session.commit()

In [25]:
#rollback : session 객체 초기화
session.rollback()

### 2. select

In [28]:
results = session.query(user).all()
results

[<User jin,jin@gmail.com,27,2016-02-21 00:00:00>,
 <User alice,alice@gmail.com,25,2018-02-21 00:00:00>]

In [31]:
results = session.query(user).filter(user.name == "jin")
list(results)

In [32]:
results = session.query(user).filter(user.email.like("%gmail%"))
list(results)

[<User jin,jin@gmail.com,27,2016-02-21 00:00:00>,
 <User alice,alice@gmail.com,25,2018-02-21 00:00:00>]

In [35]:
results = session.query(user).filter(user.name.in_(["jin"]))
list(results)

In [37]:
#filter , or_
results = session.query(user).filter(
    or_ (user.name == "jin", user.age== 33)
)
list(results)

In [38]:
#orderby
results = session.query(user).order_by(user.age.asc())
list(results)

[<User alice,alice@gmail.com,25,2018-02-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-02-21 00:00:00>]

In [39]:
#count
session.query(user).count()

2

### 3.update

In [41]:
data = session.query(user).filter(user.name == "jin").one()
data

In [42]:
data.age = 30

In [43]:
session.add(data)

In [44]:
session.commit()

### 4.delete

In [45]:
session.query(user).filter(user.name == "jin").delete()

1

In [46]:
session.commit()

In [47]:
#delete table
user.__table__.drop(engine)

### 5.with pandas

In [51]:
import seaborn as sns
import pandas as pd

In [52]:
iris_df = sns.load_dataset("iris")
iris_df.tail(2)

     sepal_length  sepal_width  petal_length  petal_width    species
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [53]:
engine

Engine(mysql://root:***@192.168.2.2/test)

In [54]:
# sql로 저장 name = name , con = connection info, if_exists
iris_df.to_sql(name="iris",con=engine, if_exists="replace")

In [58]:
engine=create_engine("mysql://root:1234@192.168.2.2/world")

In [59]:
query="""
    select *
    from city
"""
city_df = pd.read_sql(query, engine)
city_df.tail()

        ID        Name CountryCode    District  Population
4074  4075  Khan Yunis         PSE  Khan Yunis      123175
4075  4076      Hebron         PSE      Hebron      119401
4076  4077    Jabaliya         PSE  North Gaza      113901
4077  4078      Nablus         PSE      Nablus      100231
4078  4079       Rafah         PSE       Rafah       92020